@charset "UTF-8";

@font-face {
  font-family: 'Crimson';
  src:
    url('../fonts/crimson-roman-webfont.woff2') format('woff2'),
    url('../fonts/crimson-roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Crimson';
  src:
    url('../fonts/crimson-italic-webfont.woff2') format('woff2'),
    url('../fonts/crimson-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Crimson';
  src:
    url('../fonts/crimson-bold-webfont.woff2') format('woff2'),
    url('../fonts/crimson-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Crimson';
  src:
    url('../fonts/crimson-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/crimson-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}

:root {
  --color-bg: #fbf7ff;
  --color-fg: rgba(51, 51, 51, 0.5);
  --color-fg-fix: rgba(51, 51, 51, 1);
  --color-light: rgba(51, 51, 51, 0.5);
  --color-light-2: rgba(51, 51, 51, 0.25);
  --color-alpha-fg: 51,51,51;
  --color-ecriture: rgba(95,0,194,0.5);
  --color-ecriture-fix: rgba(95,0,194, 1);
  --color-alpha-ecriture: 95,0,194;
  --color-fg-hover: rgba(0,0,0,0.996);
  --border-width: 2px;
  --margin-space: 2.5em;
}

[data-theme="dark"] {
  --color-bg: #0e0020;
  --color-fg: rgba(219,219,219,0.5);
  --color-fg-fix: rgba(219,219,219,1);
  --color-light: rgba(100,100,100,1);
  --color-light-2: rgba(150,150,150,1);
  --color-alpha-fg: 219,219,219;
  --color-ecriture: rgba(207,160,255,0.5);
  --color-ecriture-fix: rgba(207,160,255,1);
  --color-alpha-ecriture: 207,160,255;
  --color-fg-hover: rgba(255,255,255,0.996);
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  /* height: 100%; */
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  color: var(--color-bg);
  background-color: var(--color-ecriture-fix);
  text-shadow: none;
}

::selection {
  color: var(--color-bg);
  background-color: var(--color-ecriture-fix);
  text-shadow: none;
}

body {
  width: 100%;
  font-family: "Crimson", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  quotes: '«\00A0' '\00A0»' "“" "”";
  color: var(--color-fg);
  background: var(--color-bg);
  letter-spacing: 0.01rem;
  line-height: 1.62;
  font-size: 1.6rem;
}

.title {
  color: var(--color-ecriture-fix);
  font-size: 1em;
  text-align: center;
  margin: 0em;
  height: 100%;
  width: -moz-calc(100% - var(--margin-space) - var(--margin-space));
  width: calc(100% - var(--margin-space) - var(--margin-space));
  max-width: unset;
}

.title .btn--reload {
    display: inline-block;
    height: 100%;
    width: 100%;
    color: var(--color-ecriture-fix);
    text-decoration: none;
    background-image: unset;
    margin: 0;
    padding: 0.4em 0 0;
  }

.title .btn--reload:hover,
  .title .btn--reload:focus,
  .title .btn--reload:active {
    color: var(--color-bg);
    text-decoration: none;
    background: var(--color-ecriture-fix);
  }

a {
  color: var(--color-ecriture-fix);
  text-decoration: none;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.1em, var(--color-ecriture-fix)), color-stop(0.1em, transparent));
  background-image: -moz-linear-gradient(bottom, var(--color-ecriture-fix) 0.1em, transparent 0.1em);
  background-image: -o-linear-gradient(bottom, var(--color-ecriture-fix) 0.1em, transparent 0.1em);
  background-image: linear-gradient(to top, var(--color-ecriture-fix) 0.1em, transparent 0.1em);
}

a:hover,
a:focus,
a:active {
  color: var(--color-bg);
  text-decoration: none;
  background: var(--color-ecriture-fix);
}

em {
  font-style: italic;
  color: var(--color-ecriture);
}

.definition {
  display: inline;
  font-style: italic;
  color: var(--color-ecriture-fix);
}

h1 {
  text-align: center;
  margin: 1em auto;
  max-width: 66ch;
}

p {
  margin: 1em auto;
  max-width: 66ch;
  /* margin: 1.62em 0; */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

hr {
  display: block;
  height: 2px;
  width: 38%;
  border: 0;
  border-top: 2px solid var(--color-fg);
  margin: 3em auto;
  padding: 0;
}

abbr[title] {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
  color: var(--color-ecriture);
  background-position: 0 0;
  text-align: center;
  padding: 0.1em 0.1em;
  white-space: pre
}

abbr[title]:hover,
abbr[title]:focus {
  text-decoration: none;
  background: var(--color-ecriture);
  color: var(--color-bg);
}

abbr[title]:hover::after,
abbr[title]:focus::after {
  content: attr(title);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 62%;
  max-width: 400px;
  font-size: inherit;
  background: var(--color-ecriture);
  color: var(--color-bg);
  padding: 0.5em;
}

button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
  outline: none;
  font-style: normal;
}

.btn {
  z-index: 150;
  line-height: 1;
  display: inline-block;
  font-style: normal;
  /* position: fixed; */
  width: var(--margin-space);
  height: var(--margin-space);
  margin: 0;
  outline: none;
  /* transition: transform 0.5s linear; */
  color: var(--color-ecriture-fix);
}

.btn__txt {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* transition: transform 0.5s linear; */
}

.btn:hover,
.btn:focus,
.btn:active {
  /* transform: rotate(360deg); */
  /* transform-origin: center center; */
  background-color: var(--color-ecriture-fix);
  color: var(--color-bg);
}

.btn--empty-left:hover,
.btn--empty-left:focus,
.btn--empty-left:active {
  background-color: unset;
  color: var(--color-ecriture-fix);
}

.btn--empty-left,
.btn--menu {
  /* bottom: 0; */
  /* left: 0em; */
    border-right: var(--border-width) solid var(--color-ecriture-fix);
}

.btn--commit,
.btn--dark {
  /* bottom: 0; */
  /* right: 0; */
    border-left: var(--border-width) solid var(--color-ecriture-fix);
}

.btn--empty-left {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.25em;
}

.btn--dark {
  padding-top: 0.25em;
}

.btn--menu {
  padding-top: 0.25em;
}

.btn--commit {
  padding-top: 0.25em;
}

.none {
  display: none;
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 3em;
  text-align: center;
  width: 100%;
  height: 100vh;
  height: -moz-calc(var(--vh, 1vh) * 100);
  height: calc(var(--vh, 1vh) * 100);
  z-index: 100;
  background: var(--color-bg);
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.menu::-webkit-scrollbar {
    display: none;
  }

.menu h1 {
    color: var(--color-ecriture-fix);
    font-size: 1em;
    margin: 0;
  }

.menu p {
  max-width: 55ch;
  margin: 1em 0;
}

.commit {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 3em;
  text-align: center;
  width: 100%;
  height: 100vh;
  height: -moz-calc(var(--vh, 1vh) * 100);
  height: calc(var(--vh, 1vh) * 100);
  z-index: 90;
  background: var(--color-bg);
  color: var(--color-ecriture-fix);
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.commit::-webkit-scrollbar {
    display: none;
  }

.commit p {
  max-width: 55ch;
}

.commit.show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.enfer {
  margin: 0;
  padding: 0.5em;
  position: fixed;
  top: var(--margin-space);
  left: var(--margin-space);
  width: -moz-calc(100vw - var(--margin-space) - var(--margin-space));
  width: calc(100vw - var(--margin-space) - var(--margin-space));
  height: -moz-calc(100vh - var(--margin-space) - var(--margin-space));
  height: calc(100vh - var(--margin-space) - var(--margin-space));
  height: -moz-calc(-moz-calc(var(--vh, 1vh) * 100) - var(--margin-space) - var(--margin-space));
  height: calc(calc(var(--vh, 1vh) * 100) - var(--margin-space) - var(--margin-space));
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.enfer::-webkit-scrollbar {
    display: none;
  }

.version {
  display: none;
}

.version p {
    margin: 1em auto;
  }

.version.version--show {
  display: block;
}

pre {
  display: block;
  text-indent: none;
  font-family: "Crimson", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-size: 1em;
  margin: 0;
  border-left: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-all;
  word-wrap: break-word;
  font-style: italic;
  color: var(--color-ecriture);
  max-width: 66ch;
}

code,
kbd {
  font-family: "Crimson", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  max-width: 100%;
  border: none;
  padding: 0;
  overflow-wrap: anywhere;
  word-break: break-all;
  word-wrap: break-word;
}

strong {
  font-weight: normal;
  text-decoration: line-through;
}

/* Range input */

.interface {
  z-index: 110;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: -moz-calc(38vh + 70px);
  height: calc(38vh + 70px);
  width: var(--margin-space);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.interface--left {
    left: 0;
  }

.interface--left .level {
      margin-right: 0;
    }

.interface--right {
    right: 0;
    margin-right: -2px;
  }

.interface--right .level {
      margin-left: 0;
    }

.panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  background: var(--color-bg);
  z-index: 110;
}

.panel--bottom {
    border-top: var(--border-width) solid var(--color-ecriture-fix);
    bottom: 0;
    left: 0;
    height: var(--margin-space);
    width: 100%;
    z-index: 120;
  }

.panel--top {
    border-bottom: var(--border-width) solid var(--color-ecriture-fix);
    top: 0;
    left: 0;
    height: var(--margin-space);
    width: 100%;
  }

.panel--left {
    border-right: var(--border-width) solid var(--color-ecriture-fix);
    top: 0;
    left: 0;
    height: 100%;
    width: var(--margin-space);
  }

.panel--right {
    border-left: var(--border-width) solid var(--color-ecriture-fix);
    top: 0;
    right: 0;
    height: 100%;
    width: var(--margin-space);
  }

.interface.interface--bottom {
  /* top: unset; */
  /* bottom: 0%; */
  /* left: 50%; */
  /* z-index: 110; */
  /* position: fixed; */
  -webkit-transform: unset;
  -moz-transform: unset;
  -ms-transform: unset;
  transform: unset;
  width: -moz-calc(38vh + 70px);
  width: calc(38vh + 70px);
  position: unset;
  max-width: 60vw;
  height: var(--margin-space);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0;
  padding: 0;
}

.interface.interface--bottom .level {
    margin-right: 0;
    height: 100%;
  }

.interface.interface--bottom .range {
  max-width: 60vw;
    position: absolute;
    z-index: 120;
    display: inline-block;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

.level {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  position: relative;
  width: 100%;
  height: 38vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.range {
  position: absolute;
  z-index: 120;
  display: inline-block;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* Source : MIT (Noah Blon) - https://codepen.io/noahblon/pen/OyajvN */

input[type="range"] {
    margin: auto;
    -webkit-appearance: none;
    overflow: hidden;
    height: 20px;
    width: 38vh;
    cursor: pointer;
    border-radius: 0;
}

::-webkit-slider-runnable-track {
    background: var(--color-light-2);
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #fff;
    -webkit-box-shadow: -100vw 0 0 100vw var(--color-ecriture-fix);
    box-shadow: -100vw 0 0 100vw var(--color-ecriture-fix);
    border: 2px solid var(--color-light);
}

::-moz-range-track {
    height: 20px;
    background: var(--color-light-2);
}

::-moz-range-thumb {
    background: #fff;
    height: 20px;
    width: 20px;
    border: 3px solid var(--color-light);
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw var(--color-ecriture-fix);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-ms-fill-lower {
    background: var(--color-ecriture-fix);
}

::-ms-thumb {
    background: #fff;
    border: 2px solid var(--color-light);
    height: 20px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after {
    display: none;
}

::-ms-ticks-before {
    display: none;
}

::-ms-track {
    background: var(--color-light-2);
    color: transparent;
    height: 20px;
    border: none;
}

::-ms-tooltip {
    display: none;
}

input[type=range]::-moz-focus-outer {
  cursor: none;
  border: 0;
}

input[type=range]:focus {
  outline: none;
}

/* For pace.js */

.pace {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 6em;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  width: 200px;
  background: var(--color-bg);
  border: 1px solid var(--color-ecriture-fix);
  overflow: hidden;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 200px;
  position: fixed;
  z-index: 3000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: var(--color-ecriture-fix);
}

.pace.pace-inactive {
  display: none;
}

.loading {
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  opacity: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 1s ease-in-out 0.4s;
  -o-transition: all 1s ease-in-out 0.4s;
  -moz-transition: all 1s ease-in-out 0.4s;
  transition: all 1s ease-in-out 0.4s;
  background: var(--color-bg);
}

.loading p {
  position: absolute;
  font-size: 5em;
  color: var(--color-ecriture-fix);
  margin: 0;
}

.loading p:nth-child(2) {
  font-size: 5em;
  -webkit-animation: loadingFade 1s ease infinite;
  -moz-animation: loadingFade 1s ease infinite;
  animation: loadingFade 1s ease infinite;
}

.pace-done .loading {
  opacity: 0;
  z-index: -1;
}

@-webkit-keyframes loadingFade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes loadingFade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadingFade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Scrollbar with simplebar.js */

[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
  height: 100%;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
  -moz-box-sizing: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%; /* Not required for horizontal scroll to trigger */
  max-height: 100%; /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: ' ';
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
  -moz-box-sizing: inherit !important;
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
  -webkit-flex-grow: inherit;
  -moz-box-flex: inherit;
  -ms-flex-positive: inherit;
  flex-grow: inherit;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background: var(--color-ecriture-fix);
  border-radius: 0;
  left: 2px;
  right: 2px;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0.5s linear;
  -o-transition: opacity 0.2s 0.5s linear;
  -moz-transition: opacity 0.2s 0.5s linear;
  transition: opacity 0.2s 0.5s linear;
}

.simplebar-scrolling .simplebar-scrollbar:before,
.simplebar-hover .simplebar-scrollbar:before,
.simplebar-mouse-entered .simplebar-scrollbar:before {
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  /* width: 11px; */
  width: 6px;
}

.simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */

[data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.simplebar-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: scrollbar !important;
}

.simplebar-dummy-scrollbar-size > div {
  width: 200%;
  height: 200%;
  margin: 10px 0;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (min-width: 18.75em) { /* 300px */
  body {
    /* Fluid typography
     * calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: -moz-calc(16px + (32 - 16) * ((100vw - 300px) / (1280 - 300)));
    font-size: calc(16px + (32 - 16) * ((100vw - 300px) / (1280 - 300)));
  }
}

@media (min-width: 50em) { /* 800 px */
  .enfer {
    /* margin: 5em; */
    padding: 1em;
  }
  .menu {
    padding: 5em;
  }
}

@media screen and (min-width: 80em) { /* 1280 px */
  body {
    font-size: 3.2rem;
  }
}
